{{ define "main" }}
  {{ partial "title.html" . }}
  {{ partial "featured.html" . }}
  <section class="galleries">
    <a class="card" href="/stories/" title="Sloppy Joe and Naomi">
      <img loading="lazy" width="600" height="400" src="/albums/joe/Joe-20240730-1_hu8ef59efd048ab4d3f89560d4e80ce162_582020_filter_6331161270205693318.jpg" style="background-color: #4c463c" alt="Sloppy Joe and Naomi">
      <div>
        <h2>Let's Talk About Your Dog</h2>
        <p>
          1 Story
        </p>
      </div>
    </a>
    {{ range where .Pages "Params.private" "ne" true }}
      {{ partial "album-card.html" . }}
    {{ end }}
  </section>

  <section class="tags-home">
    
      <h2>By Name:</h2>
      <br/>
      {{ range .Site.Taxonomies.tags }}
       <li class="tag-list"> <a href="{{ .Page.Permalink }}" class="tag"> {{ .Page.Title }}</a></li>
      {{ end }}

      <!-- <h2>Pages</h2>
      {{ range .Site.RegularPages.ByTitle }}
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> /
      {{ end }} -->
    
      <!-- <br/><br/> -->
<!-- 
     <h2>Beta: All Albums</h2>
      {{range where .Site.RegularPages.ByTitle "Section" "albums"}}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a> /
      {{ end }} -->

  </section>
 
{{ end }}
